//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Ubuntu:300,400';

$fontFamily: 'Ubuntu', sans-serif;

$baseFontSize: 16px;


// Paths
$i: "../i/";
$fontPath: "../fonts/";


 // Colors
$black: #000000;
$white: #ffffff;
$titleColor: #1b1c1d;
$textColor: #7a7b7f;
$linkColor: #ea355a;
$inputBackground: #f0f0f0;
$inputFocus: #ea355a;
$boxShadow: #bd1962;
$confirmFocus: #ccc;
$borderColor: #ccc;
